.nnqduy-btn {
  &--primary {
    background: $nnqduy-green-elegant !important;
    color: white;
    border: none !important;
    &:focus {
      box-shadow: none !important;
      outline: none !important;
    }
  }
  &--warning {
    background: $nnqduy-childhood-pastel-red !important;
    color: white;
    border: none !important;
    &:focus {
      box-shadow: none !important;
      outline: none !important;
    }
  }
}
