$nnqduy-primary: #d92727;
$nnqduy-secondary: hsl(191, 72%, 66%);
$nnqduy-dark: #363d46;
$nnqduy-dark-soul: #022330;
$nnqduy-light: #f6f6f6;
$nnqduy-cloud: #ecf0f1;
$nnqduy-green-lotus: #2ecc71;
$nnqduy-green-giant-bean: #27ae60;
$nnqduy-green-elegant: #4abb94;
$nnqduy-green-father: rgb(13, 170, 136);
$nnqduy-blue-peter: #0abde3;
$nnqduy-blue-ocean: #3498db;
$nnqduy-blue-hole: #2980b9;
$nnqduy-black-letter: #6d7275;
$nnqduy-pink-glamour: #ff7675;
$nnqduy-pink-sexy: #ffdbcb;
$nnqduy-melon-sexy: #f8c291;
$nnqduy-childhood-pastel-red: #ff6b6b;
$nnqduy-towel-orange: #ffc048;
$nnqduy-chicken-feather: #ffda79;
$nnqduy-input-border: #ced4da;
$nnqduy-soft-rock: #b2bec3;
$nnqduy-ncovid-19: #dfe4ea;
$nnqduy-smooth-gray: #b2bec3;
$nnqduy-gray-holder: #a2a2a2;
