.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.font-md {
  font-size: 15px;
}
.font-lg {
  font-size: 17px;
}
.font-xs {
  font-size: 12px;
}

@media only screen and (max-width: 600px) {
  .font-lg {
    font-size: 15px;
  }
  .font-md {
    font-size: 12px;
  }
  .font-xs {
    font-size: 10px;
  }
  .font-lg-i {
    font-size: 15px !important;
  }
  .font-md-i {
    font-size: 12px !important;
  }
  .font-xs-i {
    font-size: 10px !important;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
